{{ attach_library('adminic_toolbar/adminic_toolbar') }}
<div class="toolbar__secondary">
  {% if title %}
  <div class="toolbar__header">
    {% if title_link %}
      <a href="{{ url(title_link) }}">{{ title }}</a>
    {% else %}
      <a href="{{ url('/') }}">{{ title }}</a>
    {% endif %}
  </div>
  {% endif %}
  <div class="toolbar__content">
    {% for section in sections %}
      {{ section }}
    {% endfor %}
  </div>
</div>