{{ attach_library('adminic_toolbar/adminic_toolbar') }}
{{ attach_library('adminic_toolbar/nanoscroller') }}
{% set classes = ['toolbar__primary'] %}
{{ dump(attributes) }}
<div {{ attributes.addClass(classes) }}>
  {{ header }}
  <div class="toolbar__content nano">
    <div class="nano-content">
      {% for widget in widgets %}
        {{ widget }}
      {% endfor %}
    </div>
  </div>
  {{ toolbar_configuration }}
  {{ user_account }}
</div>
